<div class="container">
  <div id="scrollable-content">
    <ul>
      <div class="d-flex mt-4">
        <mat-form-field appearance="outline" class="mr-4">
          <mat-label>Đối tượng liên quan</mat-label>
          <mat-select [(ngModel)]="selectedUser" (selectionChange)="loadTasks()">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }} {{ user.surname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-4">
          <mat-label>Từ ngày > đến ngày</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
            <input
              matStartDate
              placeholder="Từ ngày"
              #dateRangeStart
              readonly
              formControlName="start"
            />
            <input
              matEndDate
              placeholder="đến ngày"
              #dateRangeEnd
              formControlName="end"
              (dateChange)="loadTasks()"
              readonly
            />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Ngày bắt đầu không hợp lệ</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Ngày kết thúc không hợp lệ</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          style="height: 40px; margin-top: 8px"
          (click)="resetFilter()"
        >
          Clear
        </button>
      </div>
      <div
        *ngFor="let item of dataSource; let i = index"
        class="card text-dark mb-2 mt-4 card-container"
      >
        <div
          class="card-header d-flex justify-content-between"
          [class.bg-success]="item.priority == 0"
          [class.bg-warning]="item.priority == 1"
          [class.bg-danger]="item.priority == 2"
        >
          #{{ item.id }} - {{ item.title }} ({{ timeToOutDateState(item.dueDate) }})
          <div style="cursor: pointer" (click)="showDetail(item)">Detail >></div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{ item.lastModifier.surname }} {{ item.lastModifier.name }}
            {{ toAction(item.lastAction) }}
          </h5>
          <p class="card-text">
            Người tạo: {{ item.creator.surname }} {{ item.creator.name }} - Đối tượng :
            {{ item.assignee.surname }} {{ item.assignee.name }}
          </p>
          <p class="card-text">
            {{ convertToLocalTime(item.dueDate) }}
          </p>
        </div>
      </div>
    </ul>
  </div>
  <button mat-fab color="primary" class="fab-button1" (click)="addNewTask()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" class="fab-button2" (click)="fetchData()">
    <mat-icon>refresh</mat-icon>
  </button>
  <div class="loading-container" *ngIf="loading">
    <mat-spinner color="primay" class="center-loading"></mat-spinner>
  </div>
</div>

<style scoped>
  .col-lg-2.border-left:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-left:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-left {
      border-left: 0 !important;
    }
  }

  #scrollable-content {
    position: absolute;
    top: 90px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
  }

  .card-container {
    max-width: 95%;
  }

  .fab-button1 {
    position: fixed;
    bottom: 24px;
    right: 24px;
  }

  .fab-button2 {
    position: fixed;
    bottom: 104px;
    right: 24px;
  }

  .loading-container {
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #bbbbbb6c;
  }

  .center-loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
  }

  .state-guide {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin-right: 4px;
  }
</style>
