<div mat-dialog-title class="d-flex justify-content-between">
  <h2>Thêm Sự Vụ</h2>
  <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
</div>
<div mat-dialog-content class="form-container">
  <form class="form-content-container">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Copy sự vụ</mat-label>
      <mat-select>
        <mat-option value="one">Sự vụ 1</mat-option>
        <mat-option value="two">Sự vụ 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Yêu cầu</mat-label>
      <mat-select>
        <mat-option value="one">Yêu cầu 1</mat-option>
        <mat-option value="two">Yêu cầu 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Đối tượng</mat-label>
      <mat-select>
        <mat-option value="one">Đối tượng 1</mat-option>
        <mat-option value="two">Đối tượng 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Mục đích</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nội dung</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Độ ưu tiên</mat-label>
      <mat-select>
        <mat-option value="one">Độ ưu tiên 1</mat-option>
        <mat-option value="two">Độ ưu tiên 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Thời hạn</mat-label>
      <mat-select>
        <mat-option value="one">Đối tượng 1</mat-option>
        <mat-option value="two">Đối tượng 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Sự vụ liên quan</mat-label>
      <mat-select>
        <mat-option value="one">Sự vụ 1</mat-option>
        <mat-option value="two">Sự vụ 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Tệp đính kèm</mat-label>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial color="primary">Tạo Sự Vụ</button>
</div>

<style scoped>
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .form-content-container {
    height: 100%;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    width: 48%;
    margin-right: 2%;
  }

  .half-width:nth-child(odd) {
    width: 50%;
    margin-right: 0;
  }
</style>
