<div mat-dialog-title class="d-flex justify-content-between" style="height: 48px">
  <div class="d-flex">
    <h2 style="margin-right: 32px">{{ pageTitle }}</h2>
  </div>
  <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
</div>
<div mat-dialog-content class="form-container" cdk-focus-initial>
  <div class="form-content-container">
    <div class="input-content-container">
      <div class="input-content-container">
        <div mat-dialog-content cdk-focus-initial>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Copy sự vụ</mat-label>
            <input
              type="text"
              placeholder="Nhập Id"
              matInput
              [matAutocomplete]="autoTests"
              [autofocus]="false"
              [(ngModel)]="clonedTask"
              (ngModelChange)="onSelectedClonedTask()"
              (keyup)="onCloneTaskFieldEnter($event)"
              *ngIf="addMode"
              #trigger="matAutocompleteTrigger"
            />
            <button mat-button matSuffix mat-icon-button aria-label="Clear" style="padding-right: 0px; margin-right: 0px; width: 24px;">
              <mat-icon style="font-size: 24px; color: #757575; margin-right: 0px; width: 18px;">arrow_drop_down</mat-icon>
            </button>
            <mat-autocomplete #autoTests="matAutocomplete" [displayWith]="displayCloneTask">
              <mat-option *ngFor="let task of myTasks" [value]="task"
                >#{{ task.id }} {{ task.title }}</mat-option
              >
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- <mat-form-field class="full-width" appearance="outline" *ngIf="addMode">
          <mat-label>Copy sự vụ</mat-label>
          <mat-select [(ngModel)]="clonedTask" (selectionChange)="onSelectedClonedTask()">
            <mat-option *ngFor="let task of myTasks" [value]="task"
              >#{{ task.id }} {{ task.title }}</mat-option
            >
          </mat-select>
        </mat-form-field> -->

        <div *ngIf="!addMode"></div>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Yêu cầu</mat-label>
          <mat-select
            [(ngModel)]="selectedTarget"
            (selectionChange)="onSelectedTargetChagne()"
            required
          >
            <mat-option *ngFor="let target of targets" [value]="target.id">{{
              target.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Đối tượng</mat-label>
          <mat-select [(ngModel)]="selectedUser" required>
            <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Mục đích</mat-label>
          <input matInput [(ngModel)]="purpose" required />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nội dung</mat-label>
          <input matInput [(ngModel)]="content" required />
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Độ ưu tiên</mat-label>
          <mat-select [(ngModel)]="piority" required>
            <mat-option [value]="0">Bình thường</mat-option>
            <mat-option [value]="1">Gấp </mat-option>
            <mat-option [value]="2">ASAP</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="half-width"></div>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Hạn chót</mat-label>
          <input matInput type="time" [(ngModel)]="deadlineTime" required />
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Ngày</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="deadline" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Sự vụ liên quan</mat-label>
          <mat-select [(ngModel)]="relatedTasks" multiple>
            <mat-option *ngFor="let task of myTasks" [value]="task.id"
              >#{{ task.id }} {{ task.title }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-label class="full-width">Tệp đính kèm</mat-label>
        <div class="d-flex full-width">
          <button
            mat-raised-button
            color="primary"
            onclick="document.getElementById('additionFile').click()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <input
            type="file"
            id="additionFile"
            style="display: none"
            accept="image/x-png,image/gif,image/jpeg"
            (change)="pickedFile($event)"
            multiple
          />
        </div>
        <div class="mark" (click)="({})" *ngIf="!canEditable"></div>
      </div>
      <div class="additionPhotos" *ngIf="isEmptyAddition">
        <div class="addition-photo-container" *ngFor="let img of additionFiles; let i = index">
          <img
            [attr.src]="downloadString(img?.id)"
            style="object-fit: cover; height: 100%; width: 100%"
            ng-bind-html="desc"
            (click)="showPhotoPreview(downloadString(img?.id))"
          />
          <button
            mat-mini-fab
            color="warn"
            class="addition-photo-container-delete-button"
            (click)="deleteAdditionFile(i)"
            *ngIf="canEditable"
          >
            <mat-icon style="font-size: small">close</mat-icon>
          </button>
        </div>
      </div>
      <div style="padding-top: 16px">
        <mat-label class="full-width" *ngIf="!addMode">Bình luận</mat-label>
      </div>
      <mat-form-field
        class="full-width"
        appearance="outline"
        style="margin-top: 14px"
        *ngIf="!addMode"
      >
        <mat-label>Bình luận</mat-label>
        <input matInput [(ngModel)]="newMessage" (keyup)="sentComment($event)" />
        <mat-icon matSuffix (click)="sentComment()" style="cursor: pointer">send</mat-icon>
        <div class="d-flex" style="margin-top: 16px">
          <button
            mat-raised-button
            color="primary"
            onclick="document.getElementById('commentAdditionFile').click()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <input
            type="file"
            id="commentAdditionFile"
            style="display: none"
            accept="image/x-png,image/gif,image/jpeg"
            (change)="commentPickedFile($event)"
          />
        </div>
        <div class="additionPhotos" *ngIf="isNotEmptyCommentAddition">
          <div
            class="addition-photo-container"
            *ngFor="let img of commentAdditionFiles; let i = index"
          >
            <img
              [attr.src]="downloadString(img?.id)"
              style="object-fit: cover; height: 100%; width: 100%"
              ng-bind-html="desc"
              (click)="showPhotoPreview(downloadString(img?.id))"
            />
            <button
              mat-mini-fab
              color="warn"
              class="addition-photo-container-delete-button"
              (click)="deleteCommentAdditionFile(i)"
            >
              <mat-icon style="font-size: small">close</mat-icon>
            </button>
          </div>
        </div>
      </mat-form-field>
      <div *ngFor="let comment of taskComments" class="comment-content-container">
        <span>
          <div style="color: #3b4caa; font-size: medium">
            {{ comment.user.name }} {{ comment.user.surname }}
          </div>
          <div style="font-size: small; color: gray">
            {{ convertToLocalTime(comment.creationTime) }}
          </div>
        </span>
        <span style="color: black; font-size: small">
          {{ comment.comment }}
        </span>
        <div
          class="additionPhotos"
          style="height: 80px"
          *ngIf="!isArrayNullOrEmpty(comment.fileIds)"
        >
          <img
            *ngFor="let file of comment.fileIds"
            [attr.src]="downloadString(file?.fileId)"
            style="object-fit: cover; height: 80px; width: 80px"
            ng-bind-html="desc"
            (click)="showPhotoPreview(downloadString(file?.fileId))"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end" class="mt-2">
  <button mat-button color="primary" (click)="onNoClick()">Đóng</button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="!addMode && !isTaskFinish"
    [matMenuTriggerFor]="menu"
    style="margin-right: 10px"
  >
    Khác
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeSubscribe()">
      <mat-icon>{{ isSubscribe ? 'thumb_down' : 'thumb_up' }}</mat-icon>
      <span>{{ subscribeBtnTitle }}</span>
    </button>
    <button mat-menu-item (click)="showHistory()">
      <mat-icon>history</mat-icon>
      <span>Lịch sử</span>
    </button>
    <button mat-menu-item (click)="reOpen()">
      <mat-icon>refresh</mat-icon>
      <span>Mở lại</span>
    </button>
  </mat-menu>
  <button
    mat-raised-button
    color="primary"
    (click)="confirmTask(false)"
    *ngIf="isShowVerifyTask && !isTaskFinish"
  >
    Không duyệt
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="confirmTask(true)"
    *ngIf="isShowVerifyTask && !isTaskFinish"
  >
    Duyệt
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="updateTask()"
    *ngIf="!addMode && !isShowVerifyTask && taskDetail?.status === 0"
  >
    Cập nhật
  </button>
  <button mat-raised-button color="primary" (click)="rateTask()" *ngIf="isTaskFinish">
    Đánh giá
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="requireTask()"
    *ngIf="!addMode && !isShowVerifyTask && !isTaskFinish"
  >
    {{ requireButtonTitle }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="createTask()"
    *ngIf="addMode && !isShowVerifyTask"
  >
    Tạo sự vụ
  </button>
</div>
<div
  style="
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbbbbb6c;
  "
  *ngIf="loading"
>
  <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
</div>

<style scoped>
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .input-content-container {
    position: relative;
  }

  .mark {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000px;
    pointer-events: fill;
    cursor: auto;
    background-color: transparent;
  }

  .form-content-container {
    height: 100%;
    width: 100%;
  }

  .readonly-wrapper {
    cursor: not-allowed;
  }

  .editable-wrapper {
    cursor: auto;
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    width: 48%;
    margin-right: 2%;
  }

  .half-width:nth-child(odd) {
    width: 50%;
    margin-right: 0;
  }
  .addition-photo-container {
    position: relative;
    height: 120px;
    width: 120px;
    margin-right: 16px;
  }
  .addition-photo-container:hover {
    position: relative;
    height: 120px;
    width: 120px;
    margin-right: 16px;
  }

  .addition-photo-container-delete-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
  }

  .additionPhotos {
    height: 140px;
    overflow: auto;
    white-space: nowrap;
    margin-top: 12px;
  }

  .additionPhotos div {
    height: 120px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .comment-content-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 14px;
    display: flexbox;
    margin-top: 14px;
  }

  .comment-content-container:first-child {
    margin-top: 0px;
  }
</style>
