<div class="container">
  <div id="scrollable-content">
    <ul>
      <div *ngFor="let item of dataSource; let i = index" style="height: 200px">
        {{ i }} {{ item.title }}
      </div>
    </ul>
  </div>
</div>

<style scoped>
  .col-lg-2.border-left:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-left:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-left {
      border-left: 0 !important;
    }
  }

  #scrollable-content {
    position: absolute;
    top: 90px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
    background-color: blue;
  }
</style>
