<div class="container">
  <div id="scrollable-content">
    <ul>
      <div class="d-flex mt-4">
        <div class="d-flex mr-4">
          <div class="bg-danger state-guide"></div>
          Rất gấp
        </div>
        <div class="d-flex mr-4">
          <div class="bg-warning state-guide"></div>
          Gấp
        </div>
        <div class="d-flex mr-4">
          <div class="bg-success state-guide"></div>
          Bình Thường
        </div>
      </div>
      <div
        *ngFor="let item of dataSource; let i = index"
        class="card text-dark mb-2 mt-4 card-container"
      >
        <div
          class="card-header d-flex justify-content-between"
          [class.bg-success]="item.priority == 0"
          [class.bg-warning]="item.priority == 1"
          [class.bg-danger]="item.priority == 2"
        >
          <b>#{{ item.id }} - {{ item.title }} ({{ timeToOutDateState(item.dueDate) }})</b>
          <div style="cursor: pointer" (click)="showDetail(item)">Detail >></div>
        </div>
        <div class="card-body">
          <p class="card-title">
            <b>{{ item.lastModifier.name }} {{ item.lastModifier.surname }}</b>
            {{ toAction(item.lastAction) }}
          </p>
          <p class="card-text">
            Người tạo: <b>{{ item.creator.surname }} {{ item.creator.name }}</b> - Đối tượng:
            <b>{{ item.assignee.name }} {{ item.assignee.surname }}</b>
          </p>
          <p class="card-text">
            Thời hạn: <b>{{ convertToLocalTime(item.dueDate) }}</b>
          </p>
        </div>
      </div>
    </ul>
  </div>
  <button mat-fab color="primary" class="fab-button1" (click)="fetchData()">
    <mat-icon>refresh</mat-icon>
  </button>
  <!-- <button mat-fab color="primary" class="fab-button2" (click)="fetchData()">
    <mat-icon>refresh</mat-icon>
  </button> -->
  <div class="loading-container" *ngIf="loading">
    <mat-spinner color="primay" class="center-loading"></mat-spinner>
  </div>
</div>

<style scoped>
  .col-lg-2.border-left:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-left:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-left {
      border-left: 0 !important;
    }
  }

  #scrollable-content {
    position: absolute;
    top: 90px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
  }

  .card-container {
    max-width: 95%;
  }

  .fab-button1 {
    position: fixed;
    bottom: 24px;
    right: 24px;
  }

  .fab-button2 {
    position: fixed;
    bottom: 104px;
    right: 24px;
  }

  .loading-container {
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #bbbbbb6c;
  }

  .center-loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
  }

  .state-guide {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin-right: 4px;
  }
</style>
